@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Pixelify+Sans&family=Rubik+Bubbles&display=swap');

/* Transitions */

@keyframes fade-up {
    ` 0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

/* psuedo classes */

/* issues with seeing the bg image the actual div size needed to be set, not just
the .pop class 
The height also had to be set to 50vh as it was collapsing under 1150px*/
.proj div {
    width: 100%;
    height: 50vh;
}

.pop {
    background: url(images/project1a.jpg) no-repeat;
    background-size: 100%;
    display: inline-block;

}

.pop:hover {
    background: url(images/project1b.jpg) no-repeat;
    background-size: 100%;
    display: inline-block;
}

.proj:hover {
    background-color: hsl(201, 67%, 28%, 0.5)
}

a:hover {
    color: #dbe3e9;
}

a {
    text-decoration: none;
    color: inherit;
}


/* visuals */



body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
    background: linear-gradient(180deg, #6791a1 5%, #dbe3e9 50%, #85bcd1 95%);
    color: #fff;

    /* background-color:002233 #; */
    /* that is the bg colour of image */

    background-image:
        linear-gradient(to bottom, rgba(128, 140, 200, 0.2), #002233),
        url('images/backgroundwave12.svg');

    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.spacer {
    /* visibility: hidden; */
    /* margin-top: 15px; */
    height: 60px;
    background-color: #526f7a;
    color: #526f7a;
    /* padding: 10px; */
    /* border-radius: 20px; */
    box-shadow: 0 0 20px 20px #526f7a;
    animation: fade-down 1s;
    background: linear-gradient(90deg, #b7deed 10%, #85bcd1 50%);

}

header {
    /* visibility: hidden; */

    font-family: 'Rubik Bubbles', sans-serif;
    padding: 10px 40px;
    margin-top: 0;
    /* margin-right: auto;
    margin-left: auto; */
    /* padding: 20px; */

    align-items: center;

    /* Claymorphism website */
    /* backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
    /* border-radius: 20px; */
    /* box-shadow: 35px 35px 68px 0px rgba(145, 192, 255, 0.5),
        inset -8px -8px 16px 0px rgba(145, 192, 255, 0.6),
        inset 0px 11px 28px 0px rgb(255, 255, 255); */


    /* https://hype4.academy/tools/glassmorphism-generator */
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.18);


    top: 0;
    /* position: sticky; */
    position: fixed;
    width: 100%;

    /* issue of it going over the edge of page at 100% */
    /* withou 100% it takes up half length */

    /* max-width: 1200px; */

}





/* header h1 {
    grid-column: span 6;

} */

header nav {
    grid-column: 9 / span 6;
    margin-right: auto;
    margin-left: auto;

}

header nav a {
    color: #fff;
    margin-left: 15px;

}



main {

    padding: 20px;
    margin: 60px auto;
    max-width: 1200px;
    /* max-width: 95vh; */
}




.box {
    position: relative;
    height: 40vh;

    border-radius: 16px;
    background-color: transparent;
    /* aspect-ratio: 1.5/1; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    grid-column: 2/ span 4;
    text-align: center;
    animation: fade-up 1s;
}

.box::before {
    content: "";
    position: absolute;
    height: 100vh;
    aspect-ratio: 1/1.5;
    background-image: conic-gradient(transparent, transparent, transparent, #27becc);
    animation: spin 20s linear infinite;
    z-index: -2;
}

.box::after {
    content: "";
    position: absolute;
    height: 100vh;
    aspect-ratio: 1/1.5;
    background-image: conic-gradient(transparent, transparent, transparent, #dbe3e9);
    animation: spin 20s linear infinite;
    animation-delay: -10s;
    z-index: -2;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.box span {

    position: absolute;
    inset: 5px;
    background-color: #7ab3c9;
    border-radius: 16px;
    z-index: -1;
    padding: 20px;


    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.18);



}

/* had issues with the box appearing on top of nav bar so changed the z index to -1 and -2 
changing the nav bar to 10 did not appear to work*/

.box img {
    grid-template-columns: span 6;
    width: 10vh;
    height: 10vh;
}

/* it's behaving like a flexbox but it works fine */


#photo1 {
    display: none;
    grid-column: 2/ span 4;
    /* span change from 6 to 4*/
    width: 100%;
    animation: fade-down 1s;
    margin-top: 19.92px;
    /* 19.92 was set margin for the text */

}

main img {
    width: 100%;
    height: auto;
}



main .welcome {

    grid-column: 7/ span 5;
    text-align: center;
    animation: fade-up 1s;


}

main h3 {
    grid-column: span 12;
    text-align: center;
    border-top: 1px solid;



    font-size: 1.5rem;

    margin: 10px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    /* border-image: linear-gradient(#f6b73c, #4d9f0c, #f6b73c) 30;
    border-width: 4px;
    border-style: solid; */
}

main .desc {
    animation: fade-up 1s;
    text-align: center;
    grid-column: span 2;
    background-color: rgba(0, 34, 51, 0.6);
    padding: 10px 20px;
    /* border-radius: 5px; */
    /* source | slice | width | outset | repeat */
    /* round joins the images together */
    border-image: url(images/woodborder2.jpg) 50 / 10px / 1rem round;
    border-image-outset: 0;

    box-shadow: 7px 11px 12px 2px rgba(0, 0, 0, 0.25);

    /* background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.18); */

    /* the glass goes over the nav bar */

}



main .proj {

    animation: fade-up 1s;
    text-align: center;
    grid-column: span 4;
    background-color: rgba(0, 34, 51, 0.6);
    padding: 10px 20px;
    border-radius: 5px;
    border-image: url(images/woodborder.jpg) 50 / 10px / 1rem round;
    border-image-outset: 0;
    box-shadow: 7px 11px 12px 2px rgba(0, 0, 0, 0.25);
}

.box2 {
    position: relative;
    height: 20vh;
    width: 50vh;
    border-radius: 16px;
    background-color: transparent;
    /* aspect-ratio: 1.5/1; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    grid-column: 8/ span 5;

}

.box2::before {
    content: "";
    position: absolute;
    height: 100vh;
    aspect-ratio: 1/1.5;
    background-image: conic-gradient(transparent, transparent, transparent, #27becc);
    animation: spin 20s linear infinite;
    z-index: -2;
}

.box2::after {
    content: "";
    position: absolute;
    height: 100vh;
    aspect-ratio: 1/1.5;
    background-image: conic-gradient(transparent, transparent, transparent, #dbe3e9);
    animation: spin 20s linear infinite;
    animation-delay: -10s;
    z-index: -2;
}

.box2 span {
    position: absolute;
    inset: 5px;
    background-color: #002233;
    border-radius: 16px;
    z-index: -1;
    padding: 20px;

}


/* Media Queries */
@media (max-width: 1150px) {

    /* added this here */
    header {
        width: 100%;
    }

    header nav {
        grid-column: 6 / span 6;
    }

    main img {
        grid-column: 2 /span 10;
    }

    .box {
        grid-column: 3/ span 8;
    }

    .box2 {
        grid-column: 3/ span 8;
        width: 100%;
        justify-content: center;
    }

    main .welcome {
        grid-column: 3/ span 8;
    }

    main .desc {
        grid-column: 3 / span 8;
    }

    main .proj {
        grid-column: 3 / span 8;
    }


}

@media (max-width: 600px) {
    header h1 {
        text-align: center;
        grid-column: span 12;
        margin: 0;
    }

    header nav {
        grid-column: 2/ span 8;

    }

    .box {
        grid-column: span 12;
    }

    .box2 {
        grid-template-columns: span 12;
        width: 100%;
    }

    main img {
        grid-column: span 12;
    }

    main .welcome {
        grid-column: span 12;
    }

    main .desc {
        grid-column: span 12;
    }

    main .proj {
        grid-column: span 12;
    }
}